* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*Variables for colors*/

:root {
	--grey: #efefef;
	--green: #0b9e99;
	--blue: #16354d;
	--dark_green: #037c87;
	--purple: #2b3371;
	--darkgrey: #dcdcdc;
	--red: #d90000;
	--orange: #ff6501;
	--darkgrey: #8f8f8f;
	--yellow: #ffcc01;
}

body,
main,
section {
	background-color: #fff;
}
/*Flood Map Image*/

.flood-map img {
	width: 100%;
}

/*Title*/

.flood-map h1 {
	background-color: var(--dark_green);
	text-transform: uppercase;
	font-weight: 600;
	color: var(--white);
	padding: 50px;
	font-family: Roboto;
}

/*Alerts section*/

.alerts_title {
	background-color: var(--dark_green);
	text-transform: uppercase;
	font-weight: 600;
	color: var(--white);
	padding: 30px;
}

/*Alerts - individual*/

#sidebar_color {
	display: flex;
	width: 20px;
	background-color: var(--red);
}

.alert {
	font-family: Roboto;
	font-size: 15px;
	color: white;
}

.alert_container {
	background-color: #efefef;
	margin: 0 auto;
	display: flex;
	margin-bottom: 10px;
}

#location {
	color: black;
	font-family: Roboto;
	text-align: left;
	text-transform: uppercase;
	padding-bottom: 10px;
	padding-top: 20px;
}

#alert_type,
#description,
#river,
#water_level,
#updated {
	color: var(--darkgrey);
	font-family: Roboto;
	text-align: left;
}

.alert_container img {
	width: 120px;
}

.buttons_container {
	margin-top: 20px;
	display: flex;
	justify-content: left;
	align-items: left;
	background-color: #efefef;
}

.buttons_container button {
	color: white;
	text-transform: uppercase;
	font-family: Roboto;
	font-size: 12px;
	font-weight: 600;
	padding: 10px 20px 10px 20px;
	background-color: #0b9e99;
	border-style: none;
	border-radius: 20px;
	text-align: center;
	margin-bottom: 20px;
}
