/*Variables for colors*/

/* :root {
    --white: #efefef;
    --green: #0b9e99;
    --blue: #16354d;
    --dark_green: #037c87;
    --purple: #2b3371;
} */

/* user details*/

#user-details .user-username,
#user-details .user-email,
#user-details .user-phone {
    margin-bottom: 50px;
}

/* end user details*/

/* change buttons*/

#change-buttons {
    color: var(--white);
    text-align: center;

    border: none;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 10px;
}

#change-buttons .red-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#change-buttons .red-buttons button {
    margin: 8px;
}
#change-buttons button {
    background-color: var(--green);
    border: none;
    border-radius: 25px;
    height: 50px;
    width: 200px;
    color: white;
    font-size: 20px;
}

.row label {
    font-size: 24px;
    font-weight: 500;
    color: var(--blue);
}

/* end change buttons*/

#change-password {
    background-color: var(--white);
    text-align: left;
    padding: 50px;
}

#change-password .row {
    display: flex;
    flex-wrap: wrap;
}
#change-password .row .col {
    width: 100%;
}

#change-password input {
    margin-bottom: 50px;
    border-radius: 25px;
    border: 2px solid;
    height: 50px;
    width: 70%;
    padding-left: 20px;
}

#change-password label {
    display: block;
    line-height: 20px;
    margin-bottom: 4px;
}

#change-password .sub-button {
    margin-top: 24px;
}

/*user-details*/

#user-details {
    background-color: var(--white);
    text-transform: capitalize;
    text-align: left;
    font-weight: 500;
    color: var(--purple);
    padding: 50px;
}

/* end user-details */

/*settings-bar*/

#settings-bar {
    background-color: var(--blue);
    text-transform: capitalize;
    font-weight: 500;
    color: var(--white);
    padding: 50px;
}

/* end settings-bar*/

/* check box  */
.checkbox {
    display: flex;
}
/* end check box  */

/*Desktop view*/

@media screen and (min-width: 980px) {
    #user-details {
        display: flex;
        justify-content: space-between;
    }

    #change-buttons .red-buttons {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 25px;
    }

    #change-buttons {
        border-radius: 25px;
    }

    #change-password .row .col {
        text-align: center;
        width: 50%;
    }

    #red-buttons button {
    }

    /* 
    #password-form,
    input {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 100px;
    }
    #current-password,
    #new-password,
    #confirm-password,
    #subbutton {
        width: 35%;
    }
    #subbutton {
        width: 185px;
        margin-top: 15px;
    } */
}
