input {
    margin-bottom: 17px;
    width: 291px;
    height: 43px;
    border-radius: 15px;
    color: #037c87;
    border-style: none;
}
h3 {
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}
#submit2 {
    background-color: #abba82;
    color: white;
}

img {
    margin-bottom: -76px;
}
::placeholder {
    color: #037c87;
    padding-left: 40px;
    font-size: 16px;
}
#PassForget {
    position: relative;
}
.input-email {
    background-image: url("../css/logos/Email.svg");
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 1px;
    
}
