* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Variables for colors*/

:root {
    --grey: #efefef;
    --green: #0b9e99;
    --blue: #16354d;
    --dark_green: #037c87;
    --purple: #2b3371;
    --darkgrey: #dcdcdc;
    --red: #d90000;
    --orange: #ff6501;
    --darkgrey: #8f8f8f;
    --yellow: #ffcc01;
    --alertgreen: #12600a;
    --alertbrown: #a37114;
}

input {
    margin-bottom: 17px;
    width: 291px;
    height: 43px;
    border-radius: 15px;
    color: #037c87;
    border-style: none;
    padding-left: 45px;
}
#send1 {
    padding: 0;
    color: white;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 50px 10px 50px;
    background-color: #0b9e99;
    border-style: none;
    border-radius: 15px;
    text-align: center;
}
h3 {
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}
#submit2 {
    color: white;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 50px 10px 50px;
    background-color: #0b9e99;
    border-style: none;
    border-radius: 15px;
    text-align: center;
    margin-top: 30px;
}
.content {
    height: 800px;
}

.icon_365 {
    width: 300px;
}
::placeholder {
    color: #037c87;
    padding-left: 40px;
    font-size: 16px;
}

#send1:hover {
    background-color: var(--white);
    color: var(--green);
}
#send1:active {
    background-color: var(--grey);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#reset_email:hover {
    background-color: var(--grey);
    color: var(--dark_green);
}

.input-email {
    background-image: url("../css/logos/Email.svg");
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 45px;
}
