* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}


/*Variables for colors*/

:root {
    --white: #efefef;
    --green: #0b9e99;
    --blue: #16354d;
    --dark_green: #037c87;
    --purple: #2b3371;
    --red: #D90000;
    --orange: #FF6501;
    --grey: #8F8F8F;
    --yellow: #FFcc01;
}

body,
main,
section {
	background-color: #fff;
}
/*Flood Map Image*/

.map_image img{
	width: 100%;
	height: 100%;
}

/*Title*/

.flood-map h1 {
	background-color: var(--dark_green);
	text-transform: uppercase;
	font-weight: 600;
	color: var(--white);
	padding: 50px;
	font-family: Roboto;
}

/*Map details*/

.map_main_container {
	display: flex;
	margin: 5px;
	margin-bottom: 15px;
	justify-content: center;
	gap: 20px;
}
.map_details_container h2 {
	text-align: left;
	text-align: left;
	font-family: Roboto;
	font-size: 15px;
	padding: 5px;
	color: var(--darkgrey);
}



/*Circles on Map Toggle Colors*/


.red_circle_map {
	color: white;
	width: 22px;
	height: 22px;
	border-radius: 100%;
	background-color: var(--red);	
}

.orange_circle_map {
	color: white;
	width: 22px;
	height: 22px;
	border-radius: 100%;
	background-color: var(--orange);
}

.yellow_circle_map {
	color: white;
	width: 22px;
	height: 22px;
	border-radius: 100%;
	background-color: var(--yellow);
}

.green_circle_map {
	color: white;
	width: 22px;
	height: 22px;
	border-radius: 100%;
	background-color: var(--alertgreen);
}

.brown_circle_map {
	color: white;
	width: 22px;
	height: 22px;
	border-radius: 100%;
	background-color: var(--alertbrown);
}

#locations_list {
	list-style-position: inside;
	text-align: left;
	color: var(--darkgrey);
	column-count: 2;
}
#locations_list li {
	font-size: 13px;
}	

#levels_list li {
	font-size: 13px;
	list-style: none;
	display: flex;
}

#levels_list {
	padding: 5px;
}

.level_description h3 {
	padding-bottom: 10px;
	padding-left: 5px;
	font-size: 15px;
}

.level_description {
	text-align: left;
	padding: 5px;
	color: var(--darkgrey);
}


/*map details - level*/
#red_circle {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: var(--red);
	padding-right: 10px;
	margin-right: 10px;

}

#orange_circle {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: var(--orange);
	padding-right: 10px;
	margin-right: 10px;}

#yellow_circle {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: var(--yellow);
	padding-right: 10px;
	margin-right: 10px;
}

#green_circle {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: var(--alertgreen);
	padding-right: 10px;
	margin-right: 10px;
}

#brown_circle {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: var(--alertbrown);
	padding-right: 10px;
	margin-right: 10px;
}

/*Alerts intro section start*/
.alerts_title{
    background-color: var(--dark_green);
	text-transform: uppercase;
	font-weight: 600;
	color: var(--white);
	padding: 30px;
}

/*Alerts intro section end*/

/* Need Help section start */

.need-help {
    background-color: var(--dark_green);
    text-transform: uppercase;
    font-weight: 600;
    color: var(--white);
    padding: 30px;
}

#image_cgdis{
    width: 100%;
}

.help_container{
    position: relative;  
}

#icons_container{
    position: absolute;
    left: 50%;
    top:70%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;

}

#icons_container div{
    margin: 10px;

}

#number_112, #website, #gov_app{
    color: var(--white);
    text-align: center; 
    font-size: 13px;    
    text-decoration: underline;
    text-transform: uppercase;
    padding-bottom: 30px;
    
}

#icon_number, #icon_website, #icon_app  {
    width: 80px;
}























/* Need Help section end*/
