section {
    width: 361px;

    text-align: center;
}
h1 {
    color: blue;
}
img {
    width: 361px;
}
#img1,
#img2,
#img3 {
    margin-bottom: -74px;
}
ul {
    background-color: #efefef;
}

h3 {
    padding: 36px;
}
li {
    list-style: none;
}


@media screen and (min-width: 600px) {
}

/* register-box */
.register-box {
    padding: 40px 20px;
    background: url('../pictures/Home_Register_Cropped.jpg') no-repeat center center/cover;

}

.register-box p {
    margin: 18px 0;
}

.register-box .intro-text {
margin-bottom: 18px;
}


/* end register box */

#telefone {
    opacity: 0.45;
}

.btn {
    background-color: teal;
    transform: none;
    color: white;
    text-decoration: none;
    width: 291px;
    height: 43px;
    border-radius: 15px;
    padding: 2px 46px;
    border-style: none;
}

#procedures {
    margin-bottom: 50px;
}

/*Responsive desktop*/

@media (min-device-width: 900px) {
    /*List and Map*/
    .map_image {
        width: 80vh;
    }
    .flex_container {
        margin: 0 auto;
        width: 1000px;
    }
    .content {
        background-color: var(--green);
    }
    /*Alerts*/
    #alert_icon {
        width: 400px;
        height: 400px;
        justify-content: center;
        align-content: center;
    }
    .alert {
        margin: 0 auto;
        width: 800px;
        justify-content: center;
        align-content: center;
    }
    .alert_container {
        height: 280px;
        justify-content: center;
        align-content: center;
    }
}

