* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
    

/*Variables for colors*/

:root {
}

body {
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin: 0 auto;
}

header {
    background-color: var(--green);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation > li {
    list-style: none;
}

.register > li {
    list-style: none;
}

.navigation > li > a {
    text-decoration: none;
    color: var(--white);
    padding: 20px;
}

.register > li > a {
    text-decoration: none;
    color: var(--white);
    background-color: var(--dark_green);
    padding: 20px;
}

header img {
    width: 100px;
    height: 100px;
}

ul .navigation {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navigation {
    display: none;
}

.register {
    display: none;
}

main {
    background-color: wheat;
    height: 500px;
}

footer img {
    width: 80px;
    margin: -20px;
}

#footer {
    background-color: var(--green);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer > ul > li {
    list-style-type: none;
}

#footer > ul > li > a {
    text-decoration: none;
    color: var(--white);
}

/*Desktop view*/

@media screen and (min-width: 1200px) {
    header img {
        display: none;
    }
    header {
        justify-content: center;
    }
    .navigation {
        display: flex;
        text-decoration: none;
        padding: 10px 50px;
        background-color: var(--green);
    }
    .register {
        display: flex;
        justify-content: flex-start;
        text-decoration: none;
        padding: 10px 50px;
    }
}
