input {
    margin-bottom: 17px;
    width: 291;
    height: 43;
    border-radius: 15px;
    color: #037c87;
    border-style: none;
    padding-left: 45px;
}
h3 {
    color: white;
    font-size: 20px;
}
img {
    margin-bottom: -76px;
    width: 367px;
}
::placeholder {
    color: #037c87;
    padding-left: 45px;
}
#checkbox {
    display: flex;
}
#submit {
    background-color: #abba82;
    color: white;
}
#checkbox {
    padding: 4px 46px;
}
#agree {
    width: 17px;
}

.input-email {
    background-image: url("../css/logos/Email.svg");
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 45px;
}
.input-phone {
    background-image: url("../css/logos/phone.svg");
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 45px;
}
