input {
    margin-bottom: 17px;
    width: 291px;
    height: 43px;
    border-radius: 15px;
    color: #037c87;
    border-style: none;
    padding-left: 45px;
}
h3 {
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}
#submit4 {
    background-color: #abba82;
    color: white;
}


    img {
        margin-bottom: -76px;
        width: 367px;
    }

::placeholder {
    color: #037c87;
    padding-left: 40px;
    font-size: 16px;
}
#PassReset {
    position: relative;
}
.input-email {
    background-image: url("../css/logos/Email.svg");
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 1px;
}
.input-password {
    background-image: url("../css/logos/password.svg");
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 1px;
}
