* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*Variables for colors*/

:root {
    --white: #EFEFEF;
    --green: #0B9E99;
    --blue: #16354D;
    --dark_green: #037C87;
    --purple: #2B3371;
}

main {
    font-family: 'Roboto', sans-serif;
    color: var(--white);
    justify-content: flex-start;
}

h1 {
    color: var(--blue);
    padding-top: 20px;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    color: var(--blue);
}

p {
    font-size: 1rem;
}

.form-group {
    padding: 30px;
    text-align: left;
}